$form-bg: #F5EFEF;

.auth-form {
  background: rgba($form-bg, .9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba($form-bg, .3);

  .form__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    small {
      font-size: 15px;

      a {
        color: blue;
        cursor: pointer;

        &hover {
          text-decoration: underline;
        }
      }
    }

  }

}

.user_options-forms {
  &.signup-click {

    .signup-form {
      display: block;
    }

    .signin-form {
      display: none
    }
  }

  &.signin-click {
    .signin-form {
      display: block;
    }

    .signup-form {
      display: none
    }
  }
}