$gold: #f66440;
$pink: #038595;

.company-form {
  width: 50vw;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #f8f9fa;
  padding: 30px;
  box-shadow: 0px 1px 8px #BEBEBE;
  border-radius: .25rem;

  button {
    width: 100%;
    padding: .8em 0 10px .8em;
    background-color: $gold;
    border: none;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: $gold;
    }
  }
}

.company-profile {
  width: 80vw;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: .25rem;
  overflow: scroll;

  button {
    width: 50%;
    padding: .8em 0 10px .8em;
    background-color: $gold;
    border: none;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: $gold;
    }
  }

  .header-details {
    display: flex;
    flex-direction: column;

    span {
      display: flex;
      flex-direction: row;

      p {
        text-transform: uppercase;
        margin-left: 20px;
        color: #038595;
      }
    }
  }

  .content {
    padding: 10px;

    .content-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  // .request-btn {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
}

.user-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 1px 6px #eaeaea;
  border-radius: .25rem;
  padding: 12px;
  margin-top: 5px;

  .user-profile-btn {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    align-items: center;

    .ignore-btn {
      background: transparent;
      color: grey;
      padding: unset;
      background-color: unset;
      text-transform: none;

      &:hover {
        cursor: pointer;
      }
    }

    .accept-btn {
      color: #038595;
      border: 1px solid #038595;
      padding: unset;
      background-color: unset;
      text-transform: none;


      &:hover {
        cursor: pointer;
        color: #fff;
        background-color: #038595;
      }
    }
  }

}

.company-search {
  width: 80vw;
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px;
  border-radius: .25rem;
  overflow: scroll;
  padding: 12px;

  button {
    color: #038595;
    width: 30%;
    border: 1px solid #038595;
    border-radius: .25rem;
    cursor: pointer;

    &:hover {
      cursor: pointer;
      color: #fff;
      background-color: #038595;
    }
  }

  .content {
    margin-top: 20px;
    padding: 10px;

    .content-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .company-card {
    margin-top: 20px;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0px 1px 6px #eaeaea;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

@media only screen and (max-device-width: 480px) {

  .company-form,
  .company-profile,
  .company-search {
    width: 80%;
  }

}