$gold: #f66440;
$pink: #038595;

.company-form {
  width: 50vw;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #f8f9fa;
  padding: 30px;
  box-shadow: 0px 1px 8px #BEBEBE;
  border-radius: .25rem;

  button {
    width: 100%;
    padding: .8em 0 10px .8em;
    background-color: $gold;
    border: none;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      background-color: $gold;
    }
  }
}


@media only screen and (max-device-width: 480px) {
  .company-form {
    width: 80%;
  }

}